@import "style";

.about {
  width: 100%;
  height: 100vh;
  background: $first-color;

  &__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }

  &__gallery {
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;

    &-cards {
      position: relative;
      width: 250px;
      height: 375px;
      border-radius: 3rem;
      overflow: hidden;
      margin: 0 auto;


      &Card {
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          background: linear-gradient(180deg,
                      hsla(0, 0, 100%, 0) 32%,
                      hsla(0, 0, 0, .3) 100%);
          z-index: 1;
        }
      }

      img {
        position: absolute;
        inset: 0;
        margin: auto;
        transition: transform .3s;
      }
    }

    &-overflow {
      position: relative;
      padding: 2.5rem 0;

      &Thumbs{
        width: 260px;
        height: 132px;

        .swiper-slide-active .about__gallery-overflowThumbsThumbnail {
          transform: translateY(1.25rem) scale(1.2);
        }

        .swiper-slide-next .about__gallery-overflowThumbsThumbnail {
          transform: rotate(-15deg);
        }

        .swiper-slide-prev .about__gallery-overflowThumbsThumbnail {
          transform: rotate(15deg);
        }

        &Thumbnail {
          position: relative;
          width: 60px;
          height: 60px;
          border-radius: 1rem;
          overflow: hidden;
          margin: 0 auto;
          cursor: pointer;
          transition: transform .3s;

          img {
            position: absolute;
            inset: 0;
            margin: auto;
          }
        }
      }
    }
  }

  &__infos {
    width: 100%;
    padding: 0 3rem 0 0;
    margin: -4rem 0 0 0;

    &-title {
      font-family: $secondary-font;
      font-size: 34px;
      font-weight: 700;
      color: $first-color-alt;
      margin: 0 0 2rem 0;
    }

    &-text {
      font-family: $primary-font;
      font-size: 22px;
      font-weight: 500;
      color: $background-color;
    }
  }

  &__modals {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(42%, 82%);
  }

  @media (max-width: 1024px) {
    &__infos {
      margin: 0;

      &-title {
        font-size: 30px;
      }

      &-text {
        font-size: 17px;
      }

      &-button {
        width: 280px;
        font-size: 15px;
      }
    }
  }
  
  @media (max-width: 768px) {
    height: 100%;
    padding: 4rem 0;

    &__container {
      grid-template-columns: repeat(1, 1fr);
    }
    
    &__infos {
      padding: 0;

      &-title,
      &-text {
        text-align: center;
      }

      &-text {
        padding: 0 2rem;
      }
    }
  }

  @media (max-width: 320px) {
    &__infos {
      &-text {
        padding: 0 1rem;
      }
    }
  }
}