@import "style";

.contact {
  display: grid;
  place-items: center;
  background: linear-gradient($background-color, $first-color-light);

  &__title {
    font-family: $secondary-font;
    font-size: 57px;
    font-weight: 600;
    color: $text-color;
    text-align: center;

    br {
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }
    
    @media (max-width: 425px) {
      font-size: 44px;
    }
  }

  &__subtitle {
    font-family: $primary-font;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: $text-color-light;
    text-align: center;

    span {
      br {
        display: none;

        @media (max-width: 425px) {
          display: block;
        }
      }

      @media (max-width: 425px) {
        display: none;
      }
    }

    br {
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6rem 2rem;

    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
    
    @media (max-width: 375px) {
      gap: 2rem;
      padding: 4rem 2rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      &Icon {
        width: 75px;
        height: 75px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        background: $first-color;
        color: $background-color;
        font-size: 35px;

        @media (max-width: 768px) {
          width: 50px;
          height: 50px;
          font-size: 25px;
        }

        @media (max-width: 375px) {
          width: 75px;
          height: 75px;
          font-size: 40px;
        }
      }

      &Info {
        font-family: $primary-font;
        font-size: 15px;
        font-weight: 600;
        margin: 1rem 0 0 0;

        @media (max-width: 768px) {
          font-size: 12px;
        }

        @media (max-width: 375px) {
          display: none;
        }

        a {
          color: $first-color;
        }
      }
    }
  }

  &__form {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: $background-color;

    @media (max-width: 768px) {
      width: 85%;
      flex-direction: column;
    }

    &-background {
      display: none;

      @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
      }
    }

    &-content {
      width: 60%;
      height: 100%;
      padding: 4rem;

      @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        padding: 4rem 2rem;

        form {
          display: grid;
        }
      }

      @media (max-width: 375px) {
        padding: 3rem 1rem 0 1rem;
      }
    }

    &-button {
      position: relative;
      display: grid;
      place-items: center;
      overflow: hidden;
      font-family: $primary-font;
      font-size: 17px;
      font-weight: 600;
      color: $first-color;
      cursor: pointer;

      @media (max-width: 768px) {
        font-size: 20px;
        padding: 0;
      }

      @media (max-width: 375px) {
        font-size: 17px;
        padding: 2rem;
      }

      & span {
        transition: transform .75s cubic-bezier(.51,.92,.24,1.15);
      }

      &:hover span {
        transform: translate3d(0, -150%, 0);
      }

      &:after {
        content: attr(data-text);
        position: absolute;
        height: 100%;
        top: 0;
        color: $first-color-alt;
        transform: translate3d(0, 150%, 0);
        transition: transform .75s cubic-bezier(.51,.92,.24,1.15);
      }

      &:hover:after {
        transform: translate3d(0, 0, 0);
      }
    }
    
    &-img {
      width: 40%;
      height: 100%;
      border-radius: 0 15px 15px 0;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}