@import "style";

.home {
  display: grid;
  place-items: center;

  video {
    width: 100%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -20;

    @media (max-width: 1024px) {
      top: 70%;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  img {
    display: none;

    @media (max-width: 768px) {
      display: block;
      transform: scale(.5);
      animation: imgZoom 4s forwards;
      animation-delay: 4s;

      @keyframes imgZoom {
        0% {
          transform: scale(.5);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
}