/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*  VARIABLE  */
//font
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Spectral', serif;
//color
$first-color: #4f9c98;
$first-color-alt: #cab081;
$first-color-light: #9ad0cd;
$first-color-lighten: #e2f3f2;
$text-color: #2b5553;
$text-color-light: #79a4a2;
$background-color: #e8f3f2;
$white-color: #fff;

/* DEFAULT */
* {
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*  DEFAULT CLASSES */
.section {
  width: 100%;
  height: 100vh;
}